@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --fon1: "Roboto", sans-serif;
  --negro1: #222222;
  --rojo1: #f51706;
  --rojo2: #fc200c;
  --verde1: #4caf50;
  --white1: #ffffff;
  --white2: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300px;
}
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ******************MAIN****************** */
