@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --fon1: "Roboto", sans-serif;
  --negro1: #222222;
  --rojo1: #f51706;
  --rojo2: #fc200c;
  --verde1: #4caf50;
  --white1: #ffffff;
  --white2: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300px;
}
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/**********************HEADER************************** */

.contenedorHeader{
  display: flex;
  flex-direction: column;
}

.headerTop {
  width: 1024px;
  background: #1cd1b0;
  height: 38px;
}

.headerTop h3 {
  width: 111px;
  height: 18px;
  left: 10px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.headerbottom {
  position: absolute;
  width: 1024px;
  height: 101px;
  left: 0px;
  top: 38px;

  background: #00669f;

}

.headerbottom h1{´
    position: absolute;
width: 128px;
height: 47px;
left: 28px;
top: 66px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
}