@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --maxw: 1024px;
  --fon1: "Roboto", sans-serif;
  --negro1: #000000;
  --negro2: #333333;
  --azul1: #00669f;
  --white1: #fff9f9;
  --white2: #f3f3f3;
  --white3: #ffffff;
  --verde: #1cd1b0;
  --whiteoscuro: #e5e5e5;
  --backgroundImg: rgb(236, 221, 221);
  --Pshadow1: 0px 10px 7px rgb(0 0 0 / 25%);
  --Pshadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fon1);
  font-weight: 300px;
  height: 180vh;
}
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/**********************HEADER************************** */
.headerTop {
  margin: 0 auto;
  margin: 0 auto;
  max-width: var(--maxw);
  background: var(--verde);
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.headerTop h3 {
  font-family: Roboto;
  font-size: 15px;
  color: var(--negro1);
}
header {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.contenedorHeader {
  margin: 0 auto;
  margin: 0 auto;
  max-width: var(--maxw);
  display: flex;
  flex-direction: column;
  position: sticky;
}

/* ************************** */
.headerbottom {
  height: 101px;
  background: var(--azul1);
  display: flex;
  align-items: center;
  padding: 30px;
  box-shadow: var(--Pshadow1);
  position: sticky;
  top: 0;
}

.headerbottom h1 {
  font-size: 40px;
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
}

/* ******************MAIN****************** */

.maincontenedor {
  margin: 0 auto;
  margin: 0 auto;
  max-width: var(--maxw);
  padding: 150px 15px 150px;
  background-color: var(--white3);
  display: flex;
}
.maincontenedor .divprincipaltarge {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  margin: 0 auto;
  box-shadow: var(--Pshadow2);
}

.divprincipaltarge .divbannertarge1 {
  background-color: var(--backgroundImg);
  background-image: url(../img/posilgadebatman.png);
}
.divprincipaltarge .divbannertarge2 {
  background-color: var(--backgroundImg);
  background-image: url(../img/banerharley.png);
}
.divprincipaltarge .divbannertarge3 {
  background-color: var(--backgroundImg);
  background-image: url(../img/posilgadebatman.png);
}

.divprincipaltarge .divbannertarge {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 193px;
}
.divbannertarge img {
  padding: 5%;
}

.divprincipaltarge .divfototarge1 {
  background-color: var(--backgroundImg);
  background-image: url(../img/batman.png);
}
.divprincipaltarge .divfototarge2 {
  background-color: var(--backgroundImg);
  background-image: url(../img/HarleyQuinn.png);
}
.divprincipaltarge .divfototarge3 {
  background-color: var(--backgroundImg);
  background-image: url(../img/batman.png);
}

.divprincipaltarge .divfototarge {
  width: 120px;
  height: 118px;
  border-radius: 50%;
  position: relative;
  margin-top: -60px;
}

.divprincipaltarge .divtargecont {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 10%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.divtargecont h2 {
  margin: 5%;
  color: var(--negro1);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.divtargecont p {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--negro1);
}

.divtargecont a {
  background-color: var(--azul1);
  padding: 15px 25px 15px 25px;
  margin: 10%;
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--white2);
  color: var(--white1);
}

/* **********************FOOTER********************  */
.footercontenedor {
  margin: 0 auto;
  margin: 0 auto;
  max-width: var(--maxw);
  height: 51px;
  display: flex;
  background-color: var(--azul1);
  align-items: center;
  padding: 20px;
}

.footercontenedor h2 {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--white1);
}

@media screen and (max-width: 768px) {
  .maincontenedor {
    flex-wrap: wrap;
  }

  .maincontenedor .divprincipaltarge {
    max-width: 40%;
  }
}
